# Server
PORT=5000
NODE_ENV=production

# MongoDB
MONGODB_URI=mongodb+srv://The_Archive_Admin_DB:<db_password>@thearchive.eodczdc.mongodb.net/chettas-dosa?appName=TheArchive

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=30d

# Twilio (for OTP)
TWILIO_ACCOUNT_SID=your_twilio_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_PHONE_NUMBER=+1234567890

# Cloudflare R2 Storage
R2_ENDPOINT=https://22d5f7b3d2213d24ca45e49edd547fc1.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=e6cba5eb559d546bc33c5adf23de8b4c
R2_SECRET_ACCESS_KEY=27ea47c8974254ebaf51f725b1b72a66b3f009144e0d19c9940929a99671735e
R2_BUCKET_NAME=chettas-dosa
R2_PUBLIC_URL=https://pub-acdf994ea27e4423b2bed79296335c86.r2.dev

# Frontend URL (for CORS)
FRONTEND_URL=https://your-frontend-domain.pages.dev
